body {
    text-align: center;
    background: yellow;
    background-repeat: no-repeat;
}

h1 {
    text-shadow: 2px 2px #f8BBD0;
    font-size: 20px;
}

img {
    border-radius: 50%;
    width: 100px;
}

menu {
    list-style: none;
    font-family: cursive;
    float: right;
    top: 10px;
    right: 30px;
    cursor: pointer;
    color: black;
}
